select
{
  width:300px;
}

input
{
  vertical-align:top;
  display : block;
  margin:10px 0px;
  color:white;
  background: #FF6789;
  border: 1px #FF6789;
  border-radius: 5px;
  padding:5px 5px;
  font-size:12px;
}

#container
{
  width:50%;
  margin:auto;
}