.*{
  margin: 0;
  padding: 0;
}

#container
{
  background: #E8F2D7;
  width:20em;
  margin:auto;
  padding:0px 0px 10px 10px;
}

span
{
  font-size:12px;
  font-weight:bold;
  display:inline-block;
  padding-right:50px;
  width:5em;
}

#nameOfPerson , #email
{
 background-color: yellow;
}

label
{
  font-size:12px;
  font-weight:bold;
}

p
{
  font-size:10px;
  font-weight:400;
}

textarea
{
width:23em;
}

span
{
  
}

#submitText
{
  text-align:center;
  width:18em;
  margin:auto;
  font-size:12px;
  font-weight:400;
}

#formHeader
{
  font-size:12px;
  font-weight:bold;
  text-align:center;
  background:#9AB386;
  color:white;
  margin-left:-10px;
  margin-bottom:20px;
}

input,textarea,select
{
  border: 1px solid green;
}

select
{
  width:10em;
  background:white;
}

input[type='button']
{
  border: 1px solid #566238;
  border-radius:25px;
  background:#566238;
  color:white;
}